*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: #dfdfdf33;
    width: 420px;
    height: 480px;
    border: 2px solid gray;
    padding-top: 5px;
}
.Row{
    flex: 1;
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
}

button{
    display: flex;
    justify-content: center;
    width: 90px;
    height: 60px;
    border-radius: 10px;
    color: white;
    background-color: #89898933;
    font-size: 40px;
    border:  gray;
    padding: 0;
    line-height:-50px;    
}

button:hover {
    filter: brightness(70%);
}

.operator , .backSpace , .percentage , .clear {
    background-color: #ffffff33;
}

.equal{
    background-color: #fa6868ef;
    color: black;
}

#result{
    background-color: #1A1A1A;
    width: 408px;
    height: 88px;
    border-radius: 8px;
    color: white;
    font-size: 80px;
    text-align: right;
    border: white 4px solid;
}

.clear{
    background-color: #ff3a3ad7;
    color: black;
}